#container {
  height: 100px;
  border: 5px solid black;
  margin:0 auto;
}
.whitenote {
  height:100%;
  --widthA: calc(100% - 36px);
  width: calc(var(--widthA) / 36);
  float:left;
  border-right:1px solid black;
}
.camera-container {
  float: none;
  width: 500px;
  border: 1px solid black;
}
#video{
  transform: scaleX(-1);
}
#canvas{
  transform: scaleX(-1);

}