:root {
  --margin: 50px;
}

#header {
  text-align: center;
}
#container {
  height: 100px;
  width: 500px;
  border: 5px solid black;
  margin-top: var(--margin);
  float: left;
}
.whitenote {
  height:100%;
  --widthA: calc(100% - 12px);
  width: calc(var(--widthA) / 12);
  float:left;
  border-right:1px solid black;
  background-color: white;
}
#videoDiv {
  text-align: center;
}
#canvas {
  width: 320px;
  height: 240px;
  border: 1px solid black;
  display: inline-block;
  background-color: white;
}
#buttonDiv {
  text-align: center;
}
.button{
  display: inline-block;
}
#play {
  display: inline-block;
}
#slider {
  -webkit-appearance: none;
  outline: none;
  background-color: lightgrey;
  --widthB: 110px;
  width:var(--widthB);
  --heightA: 6px;
  height: var(--heightA);
  margin-top: calc(var(--widthB) / 2 + var(--margin) - var(--heightA) / 2);
  float: left;
  border-radius: 10px;
  transform: rotateZ(270deg);
}
/*
#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 10px;
  background: #4CAF50;
  cursor: pointer;
}
*/
#clearfix {
  clear: both;
}